body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    -webkit-text-fill-color: white;
}

#board{
    background-color: whitesmoke;
    border: 5px solid;
    border-color: black;
}

#restartButton {
    display: none; /* Inicialmente escondido */
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-style: solid;
    border-top: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    
}
#startButton {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 30px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
}

.tutorial{
    font-size: 25px;
    margin-top: 130px;
    
}

#title{
    position:flex;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;;
    top: 30px;
}

.navbar {
    background-color:#8869A5;
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-color:rgba(255, 255, 255, 0);
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #8095CE;
}